html, body{
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
}	
/*-- Heading --*/
.heading{
	margin: 0 0 0em;
	color: #393939;
}
.heading h3{
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
}
.heading h5{
	font-size: 1.3em;
	text-align: center;
	font-weight: lighter;
	font-style: italic;
}
.a-hashtag{
	color: #6ECFF6;
	font-family: Times New Roman; 
}
/*-- Figure part --*/	
#fig {
	width: 800px;
	height: 500px;
	margin-top: 10px;
}
#container {
	height: 10px;
	margin: auto;
	width: 100%;
	display: inline-block;
}
#dayLabel {
	position: absolute;
	left: 0;
	width: 85px;
	text-align: left;
}
#dateSlider {
	position: absolute;
	left: 90px;
	right: 90px;
	margin-top: 3px;
}
#play {
	position: absolute;
	right: 0px;
	cursor: pointer;
}
/*-- footer --*/
.footer-bottom{
	margin:5em 0 0;
	text-align:center;
}
.footer-bottom p{
	font-size:15px;
	color:#393939;
	margin:0;
}
.footer-bottom p a{
	color:#393939;
	text-decoration:none;
	font-family: 'Raleway', sans-serif;
}
.footer-bottom p a:hover{
	color:#4D1313;
}
/*-- //footer --*/